<template>
  <div class="container">
    <h1 class="text-center mt-3">Detalles</h1>

    <CardDetalles />
    
  </div>
</template>

<script>
import { computed, onMounted } from "vue";
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';
import CardDetalles from "../components/CardDetalles.vue";
export default {
  name: 'InfoJuego',
  components: {
    CardDetalles,
  },

  setup() {
    const store = useStore()

    const route = useRoute()

    onMounted(() => {
      store.dispatch("getJuego", route.params.id);
    });


    return{
      
    }
  }


}
</script>

<style>

</style>