<template>
  <div class="container">
    <h1 class="text-center">Listado de Juegos</h1>
    <juegos-list />
  </div>
</template>

<script>
import JuegosList from '@/components/JuegosList.vue'
export default {
  components: { JuegosList },

}
</script>

<style>

</style>