<template>
  <div class="container mt-3">
    <div class="card">
      <div class="card-header">
        <h2>Detalles del Juego</h2>
      </div>
      <div class="card-body">
        <ul>
          <li><h4>Titulo : {{ juego.title }}</h4></li>
          <li><h4>Genero: {{ juego.genre }}</h4></li>
          <li><h4>Plataforma: {{ juego.platform }}</h4></li>
          <li><h4>Publicado por: {{ juego.publisher }}</h4></li>
          <li><h4>Descripción: </h4><p>
            {{ juego.description }}
            </p></li>
        </ul>
        <p class="card-footer"></p>
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';
export default {
    name: 'CardDetalles',

    setup(){
        const store = useStore()

        return{
            juego: computed(() => store.state['juego'])
        }
    }
};
</script>

<style>
</style>