<template>
  <div class="card mb-2" style="width: 18rem">
    <img :src="juego.thumbnail" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-text">
        {{ juego.title }}
      </h5>
    </div>
    <router-link :to="`/detalles/${juego.id}`" class="btn btn-primary">Mas Información</router-link>
  </div>
</template>

<script>
export default {
    props: ['juego']
};
</script>

<style>
</style>

