<template>
  <div class="row">
    <div 
        class="col col-12 col-md-6 col-lg-4"
        v-for="juego in juegos" :key="juego.id"
    >
        <card-juego :juego="juego"/>
    </div>
  </div>
</template>

<script>
import { computed, onMounted } from 'vue'
import { useStore } from 'vuex'
import CardJuego from './CardJuego.vue'
export default {
  components: { CardJuego },

  setup(){
    const store = useStore()

    const juegos = computed(() => {
        return store.state.juegos
    })

    onMounted(() => {
      store.dispatch("getJuegos");
    });

    return{
        juegos
    }
  }

}
</script>

<style>

</style>