<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <h2 class="navbar-brand">Juegos Api</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <router-link class="btn btn-dark" to="/">Home</router-link>
      <!-- <router-link class="btn btn-dark" to="/detalles">Detalles</router-link> -->
      </div>
    </div>
  </div>
  </nav>
</template>

<script>
export default {};
</script>

<style>
</style>